os: osx
language: c++
before_install:
  - brew update
  - brew bundle
  - brew uninstall libjpeg --ignore-dependencies # wrong libjpeg version can cause us problems
  - sed -i -- 's/Cellar\/sdl2\/2.0.8\//Cellar\/sdl2\/2.0.9\//g' EndlessSky.xcodeproj/project.pbxproj # Fix SDL2 path (brew supplies 2.0.9, ES by default looks for 2.0.8)
  - git config --local user.name "MCOfficer"
  - git config --local user.email "mcofficer@gmx.de"
  - git tag "$(date +'%Y%m%d%H%M%S')-$(git log --format=%h -1)"
script: 
  - xcodebuild
  - cd build/Release/EndlessSky.app/Contents/MacOS/
  - install_name_tool -change /usr/local/opt/libpng/lib/libpng16.16.dylib @executable_path/../Frameworks/libpng16.16.dylib EndlessSky
  - install_name_tool -change /usr/local/opt/mad/lib/libmad.0.2.1.dylib @executable_path/../Frameworks/libmad.0.2.1.dylib EndlessSky
  - install_name_tool -change /usr/local/opt/sdl2/lib/libSDL2-2.0.0.dylib @executable_path/../Frameworks/libSDL2-2.0.0.dylib EndlessSky
  - install_name_tool -change /usr/local/opt/jpeg-turbo/lib/libturbojpeg.0.dylib @executable_path/../Frameworks/libturbojpeg.0.dylib EndlessSky
